.InrtoHeader {
    background-position-y: 75% !important;
}
.headerContainer{
    margin-top: 150px;
    margin-left: 20px;
}
.letsWorkTogether{
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 50px;
}