.contaier {
    margin: 100px;
}

.keyFeaturesTitle {
    padding: 0 0 35px;
}

.keysContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.keysContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    z-index: 1;
}

.keyFeature {
    position: relative;
    padding: 15px;
    flex: 1 0 30%;
    text-align: center;
    border: 0.5px solid #2C2F32;
}