@import '../../styles/variables/fonts.scss';
@import '../../styles/variables/breakpoints.scss';

.jobs {
    margin: 150px 0 0;
 }

.jobsContainer {
    background-color: #FAFAFA;
    padding: 30px 100px;

    @include bp-below(medium) {
        padding: 30px 45px;
    }
}

.categorySection {
    margin-bottom: 60px;
    

    &:last-child {
        margin-bottom: 0;
    }
}

.categoryHeader {
    font-family: $gibson;
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin: 0 0 20px 0;
 

    @include bp-below(small) {
        font-size: 24px;
    }
}

.jobWrpaper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    
}

.jobCard {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    min-height: 232px;
    max-width: 611.537px;
    padding: 32px ;    
    border-radius: 12px;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-4px);
    box-shadow: #FF4713 0px 4px 20px -5px;
    }
}

.titleCard {
    color: #000000;
    font-family: $gibson;
    font-size: 18px;
    font-weight: 500;
    line-height: 32.4px;
    margin: 0;
 
    @include bp-below(medium) {
        max-width: 200px;
    }

    @include bp-below(small) {
        font-size: 16px;
        line-height: 24px;
    }
}
.cardFooter {
    display: flex;
    justify-content: space-between;
     
 }

.footerText {
    color: #7C7C7C;
    font-family: $gibson;
    font-size: 14px;
    font-weight: 400;
    margin: 0;

    @include bp-below(small) {
        font-size: 12px;
    }
}
.descriptionCard {
    color: #7C7C7C;
    font-family: $gibson;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    max-width: 250px;
    margin: 0;
     ;

    @include bp-below(medium) {
        max-width: 200px;
    }
}