@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles//variables/breakpoints.scss';

.container {
    background: $white;
    border: 1px solid $gray-light;
    box-shadow: 0px 5px 0px 0px $black-300;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    width: calc(50% - 25px);

    @include bp-below(medium) {
        width: 100%;
        padding: 25px;
    }
}

.image {
    text-align: center;
    height: 100%;
}

.title {
    border: 1px solid $black-200;
    color: $black-200;
    font: 600 30px $gibson;
    max-width: 215px;
    padding: 4px 11px;
    width: fit-content;

    &:hover {
        color: $white;
        background-color: $orange;
        border-color: $orange;
    }

    @include bp-below(medium) {
        font-size: 26px;
    }
}

.description {
    color: $black-200;
    font: 18px $gibson;
    text-align: justify;

    @include bp-below(medium) {
        font-size: 16px;
        text-align: left;
    }
}

.learnMore span {
    font-size: 20px !important;
    line-height: 28px !important;

    @include bp-below(medium) {
        font-size: 18px;
    }
}

