@import '../styles/variables/breakpoints.scss';
@import '../styles/variables/colors.scss';
@import '../styles/variables/fonts.scss';

.worktogether {
    @include bp-below(medium) {
        flex-direction: column-reverse;
    }
}

.servicesSection {
    margin: 40px 100px;

    @include bp-below(medium) {
        margin: 35px 45px;
     }
}

.containerServices {
    display: flex;
    gap: 40px;

    @include bp-below(medium) {
       flex-direction: column;
    }
}


.whyChooseSection {
    background: url('../assets/images/Background\ Noise.png') lightgray 0% 0% / 78.125px 78.125px repeat;
}

.serviceDescription {
    margin-top: 50px;
    color: $black-200;
    font: 400 20px $gibson;

    @include bp-below(medium) {
        font-size: 16px;
        text-align: justify;
    }
}

.pixSection {
    padding: 40px 100px;
    display: flex;
    gap: 50px;
    background-color: $orange;

    @include bp-below(medium) {
        overflow-x: scroll;
    }
}