@import '../styles/variables/breakpoints.scss';
@import '../styles/variables/colors.scss';
@import '../styles/variables/fonts.scss';

.worktogether {
    @include bp-below(medium) {
        flex-direction: column-reverse;
    }
}

.servicesSection {
    margin: 40px 100px;

    @include bp-below(medium) {
        margin: 35px;
    }
}

.containerServices {
    display: flex;
    gap: 40px;

    @include bp-below(medium) {
        flex-direction: column;
    }
}


.whyChooseSection {
    background: url('../assets/images/Background\ Noise.png') lightgray 0% 0% / 78.125px 78.125px repeat;
}

.serviceDescription {
    margin-top: 50px;
    color: $black-200;
    font: 400 20px $gibson;

    @include bp-below(medium) {
        font-size: 16px;
        text-align: justify;
    }
}
.features{
    margin-top: 15px;
    margin-left:80px;
     @include bp-below(medium) {
    margin-left: 50px;
    } @include bp-below(small) {
    margin-left: 40px;
    }
}
.WorkWithUs{
     margin-top: 40px;
    margin-left:80px;
     @include bp-below(medium) {
    margin-left: 50px;
    margin-top: 30px;
    } @include bp-below(small) {
    margin-left: 40px;
    margin-top: 25px;
    }
}
.scrollerWrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: $orange;
    padding: 40px 100px;
}

.pixSection {
    display: flex;
    gap: 50px;
    animation: scrollLeft 20s linear infinite;
    width: max-content;
}

.pixIcon {
    flex: 0 0 auto;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
