@import '../../styles/variables/breakpoints.scss';
@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.headerContainer {
    position: relative;
    overflow: hidden;
}

.reduCeOpacity {
    opacity: 0.5;
}

.header {
    position: relative;
    height: calc(100vh - 100px);
    font: $gibson;
    @include bp-below(medium) {
        height: calc(100vh - 80px);
    }
}

.video {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}