.headerContainer {
    position: relative;
}

.header {
    position: relative;
}

.video {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
