@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles//variables/breakpoints.scss';

.descContainer {
    display: flex;
    gap: 37px;
    flex-direction: column;
    margin: 100px 100px 0;
     @include bp-below(medium) {
        margin: 45px;
    }
 }

.video {
    box-shadow: 0px 0px 1px 0px black;
    max-width: 500px;
}

.descWrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
      @include bp-below(large) {
        flex-direction: column;
        gap: 40px;
    }
}

.descWrapper:nth-child(2n) {
    flex-direction: row-reverse;


    @include bp-below(large) {
        flex-direction: column;
    }
}
 
.descWrapper img {
  border-radius: 28.35px;
  width: 100%;
  height: auto;
  max-width: 500px;
  
  @include bp-below(medium) {
    max-width: 100%;
  }
  
  @include bp-below(small) {
    max-width: 100%;
  }
}
.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 27px;
    
    @include bp-below(large) {
        margin-top: 0;
    }
     h1 {
    color: var(--Black, #2E3134);
    font-family: $gibson;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;  
       @include bp-below(medium) {
            font-size: 32px;
        }
        
        @include bp-below(small) {
            font-size: 28px;
        }
  }
    h2 {
        color: var(--Black, #2E3134);
        font-family: $gibson;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
         @include bp-below(medium) {
            font-size: 32px;
        }
        
        @include bp-below(small) {
            font-size: 28px;
        }
    }

     p {
        color: var(--Black, #2E3134);
        font-family: $gibson;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
           @include bp-below(medium) {
            font-size: 18px;
        }
        
        @include bp-below(small) {
            font-size: 16px;
        }
    }
    .subtitle {
  color: var(--Dark-Grey-Grey-8, #7C7C7C);
  font-variant-numeric: slashed-zero;
  font-feature-settings: 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv07' on, 'cv10' on, 'cv11' on;
  font-family: $gibson;
   margin-top: 8px;
  font-size: 19.847px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;  
  letter-spacing: -0.284px;
     @include bp-below(medium) {
            font-size: 17px;
        }
        
        @include bp-below(small) {
            font-size: 15px;
        }
    
}

}