@import '../../../styles/variables/fonts.scss';
@import '../../../styles/variables/breakpoints.scss';

.headerContainer {
    min-height: 600px;
}

.discriptionHeader {
    margin: 40px 100px;
    max-width: 695px;

    @include bp-below(small) {
        margin: 40px 45px;
    }

    @include bp-below(small) {
        max-width: 350px;
    }
}

.content {
    margin: 0 100px 100px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.whyChooseSection{
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 20px;
   @include bp-below(medium) {
       margin-top: 20px;
        margin-left: 35px;
        margin-bottom: 18px;
    }
      @include bp-below(small) {
       margin-top: 20px;
        margin-left:28px;
        margin-bottom: 15px;
    }
}
.video,
.image {
  align-self: flex-start; // align image with title (left side)
  overflow: hidden;
  img {
    height: 280px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 16px;         // ← Ensures image doesn't overflow corners
  }
  @include bp-below(large) {
    img {
      height: 200px;
    }
  }
   @include bp-below(small) {
    img {
      max-width: 100%;
       object-fit: fill;
    }
  }
}

.text {
    text-align: justify;
    color: #2E3134;
    display: flex;
    flex-direction: column;
    font: 20px $gibson;
    gap: 20px;
}

.cardContainer {
    margin: 0 100px;

    @include bp-below(medium) {
        margin: 0 45px;
    }
}
