@import '../../styles/variables/fonts.scss';
@import '../../styles/variables/colors.scss';

.container {
    align-items: center;
    display: inline-flex;
    gap: 15px;
     flex-direction: row; 
    text-decoration: none;
    color: $black-200;
    &:hover {
        color: $orange;                     // text turns orange
        .arrow {
            color: $orange;
            transform: translateX(8px);     // arrow moves right
        }
    }
}

.arrow {
     height: 24px;
    width: 24;
transition: transform 0.3s ease, color 0.3s ease;
    transform: translateX(0);    
      // initial state
      flex-shrink: 0;  // Add this to prevent arrow from shrinking
}

.text {
    font: 600 16px $gibson;
}