@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles/variables/breakpoints.scss';

.container {
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;

    @include bp-below(medium) {
        padding: 50px 30px;
    }
}

.transperatBackground {
    background: none;
}

.textPart {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 550px;
}

.title {
    color: $black-200;
    font: 600 60px $gibson;
}

.descitpion {
    color: $black-200;
    font: 400 20px $gibson;
}

.listItem {
    color: $black-200;
    text-align: justify;
    font: 400 20px $gibson;
}

.scaleAnimation {
    display: inline-block;
    transform: scale(0, 1);
    transform-origin: 0% 50%;
    background-color: rgb(255, 86, 34);
    opacity: 1;
    color: white;
    animation: scaleFromLeft .5s ease-in-out forwards, removeBackground 0s ease 0.5s forwards;
}

@keyframes scaleFromLeft {
    0% {
        transform: scale(0, 1);
        background-color: rgb(255, 86, 34);
    }

    100% {
        transform: scale(1, 1);
        background-color: rgb(255, 86, 34);
    }
}

@keyframes removeBackground {
    100% {
        background-color: transparent;
        color: black;
    }
}